@model UI.Models.UserVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserVM</h4>
    <hr />
    <dl class="row">
        @*
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" alt="@Model.Username profile picture"
                 class="img-responsive" style="max-height: 200px">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Joined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Joined)
        </dd>
        @*
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Token)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Token)
            </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
