@model UI.Models.Movie.MovieVM

@{
    ViewData["Title"] = @Model.Name;

    string Role = null;

    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];
        Role = stateData["_Role"];
    }

    TempData.Keep();
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div style="float: left; margin-right: 4%; margin-top: 3.5%;">
    <img src="@Model.Image" alt="@Model.Name picture"
         class="img-responsive" style="max-height: 250px">
</div>
<div style="margin-top: 3.5%;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    @if (Role == "1")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><p> | </p>
    }
    <a asp-action="Index">Back to List</a>
</div>
