@model UI.Models.Movie.MovieVM
@using System.Text.Json;
@using UI.Models.Actor;
@using UI.Models.Genre;
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = (@Localizer["Edit"] + @Model.Name);

    List<ActorVM> actors = JsonSerializer.Deserialize<List<ActorVM>>(@Context.Session.GetString("actors"));
    List<GenreVM> genres = JsonSerializer.Deserialize<List<GenreVM>>(@Context.Session.GetString("genres"));
}

<h1>@Localizer["Edit"] @Html.DisplayFor(model => model.Name)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <textarea asp-for="Synopsis" class="form-control" ></textarea>
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aired" class="control-label"></label>
                <input asp-for="Aired" class="form-control" />
                <span asp-validation-for="Aired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">@Localizer["Duration"]</label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>@Localizer["Actors"]</h4>
                @foreach (var actor in actors)
                {<input type="checkbox" name="@actor.FullName" value="@actor.Id"> @actor.FullName<br>}
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Genres</h4>
                @foreach (var genre in genres)
                {<input type="checkbox" name="@genre.GenreName" value="@genre.Id"> @genre.GenreName<br>}
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["Edit"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

