@model IEnumerable<UI.Models.Movie.MovieGetVM>

@{
    ViewData["Title"] = @Localizer["Movies"];

    string FullName = null;
    string Id = null;
    string Role = null;

    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];

        FullName = stateData["_FullName"];
        Id = stateData["_Id"];
        Role = stateData["_Role"];
    }

    TempData.Keep();
}

    <h1>@Localizer["Movies"]</h1>

@if (Role == "1")
{
    <p>
        <a asp-action="Create">@Localizer["Create a New Movie"]</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.Image" alt="@item.Name picture"
                     class="img-responsive" style="max-height: 150px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @{
                    var parms = new Dictionary<string, string>
                    {
                        {"userId", Id },
                        {"movieId", item.Id.ToString() }
                    };
                    
                }
                @if (Role == "0" || Role == null)
                {
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                    @if (FullName != null)
                    {
                        <p> | </p><a asp-controller="Watchlist" asp-action="Add" asp-all-route-data="parms">@Localizer["Add to watchlist"]</a>
                    }
                }
                else if (Role == "1")
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a><p> | </p>
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a><p> | </p>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a><p> | </p>
                    <a asp-controller="Watchlist" asp-action="Add" asp-all-route-data="parms">@Localizer["Add to watchlist"]</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
