@model UI.Models.Watchlist.WatchlistShowVM
@using UI.Data;

@{
    ViewData["Title"] = @Localizer["Update"];

    string Id = null;

    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];
        Id = stateData["_Id"];
    }

    TempData.Keep();
}

<h1>@Localizer["Update watchlist item"]</h1>

<hr />
<div class="row">
    <div style="float: left; margin-right: 4%; margin-top: 0.5%; margin-left: 5%;">
        <img src="@Model.Image" alt="@Model.MovieName picture"
             class="img-responsive" style="max-height: 250px">
    </div>
    <div class="col-md-4">
        <h3>@Model.MovieName</h3>
        @{
            var parms = new Dictionary<string, string>
            {
                {"userId", Id },
                {"movieId", Model.MovieId.ToString() }
            };
            TempData["FilmId"] = Model.MovieId.ToString();
        }
        <form asp-action="Update" asp-all-route-data="parms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label" style="font-weight: 500"></label>
                <div>
                    @Html.RadioButtonFor(model => model.Status, "PlanToWatch") @Localizer["Plan to watch"] <br />
                    @Html.RadioButtonFor(model => model.Status, "Watching") @Localizer["Watching"] <br />
                    @Html.RadioButtonFor(model => model.Status, "Watched") @Localizer["Watched"] <br />
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label" style="font-weight: 500"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" /> |
                <a asp-action="Index" asp-route-id=@Id>@Localizer["Back to List"]</a>
            </div>
        </form>
    </div>
</div>

