@using System.Text.Json;
@using UI.Models.Movie;
@using UI.Models.Watchlist;
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";

    string FullName = null;
    string Id = null;
    string Role = null;
    List<WatchlistVM> watchlist = null;

    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];

        FullName = stateData["_FullName"];
        Id = stateData["_Id"];
        Role = stateData["_Role"];

        try
        {
            watchlist = JsonSerializer.Deserialize<List<WatchlistVM>>(@Context.Session.GetString("watchlist"));
        } catch(ArgumentNullException e)
        {
            //watchlist = new List<WatchlistVM>();
        }
    }

    TempData.Keep();
    List<MovieVM> movies = JsonSerializer.Deserialize<List<MovieVM>>(@Context.Session.GetString("movies"));
}

<div class="text-center">
    @if (FullName == null)
    {
    <h1 class="display-4">@Localizer["Welcome"] @Localizer["guest"]</h1>
    }
    else
    {
<h1 class="display-4">@Localizer["Welcome"] @FullName</h1>
    }
</div>
<div style="display: flex; flex-flow: wrap; flex-direction: row; justify-content: space-between; margin: 6.5% 5% 5% 5%;">
    @foreach (var movie in movies)
    {
        <div style="width: 45%; display: flex; flex-direction: row; margin-bottom: 5%; background-color: #f7f7f7; padding: 0.5px">
            <img src="@movie.Image" alt="@movie.Name pic"
                 class="img-responsive" style="max-height: 200px;">
            <div style="display: flex; flex-flow: column; margin: auto;">
                <h3>@movie.Name</h3>
                <p>@movie.Director</p>
                @if (FullName != null)
                {
                    @if (watchlist != null)
                    {
                        @if (watchlist.Exists(w => w.MovieId == movie.Id))
                        {
                            <p>In <a asp-controller="Watchlist" asp-action="Index" asp-route-id=@Id>@Localizer["Watchlist"]</a></p>
                        }
                        else
                        {
                            var parms = new Dictionary<string, string>
                            {
                                {"userId", Id },
                                {"movieId", movie.Id.ToString() }
                            };
                            TempData["FilmId"] = movie.Id.ToString();
                            <a class="btn btn-primary" asp-controller="Watchlist" asp-action="Add" asp-all-route-data="parms">@Localizer["Add to watchlist"]</a>
                        }
                    }
                }
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" style="margin-top: 5%;">@Localizer["Movie details"]</a>
            </div>
        </div>
    }
</div>
